body {
  padding: 0;
  margin: 0;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  width: 100%;
  
  
  background-image: url(../image/background.jpg);
  background-size:cover;
}





.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(0,0,0,.3);
  font-family: 'Fredoka One', cursive;
  padding: 8px 12px;
  }
  
  .navbar_logo {
    font-size: 24px;
    color: white;
  }

  .navbar_logo h1 {
    margin: 0;
  }
  
  span {
    color : #1DC4E7;
  }
  
  .navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;

  }
  
  .navbar_menu li a {
    display : inline-block;
    color: #fff;
    padding: 10px;
    margin:0px 10px;
    font-size:20px;
    font-family: 'Fredoka One', sans-serif;
  }
  
  .navbar_menu li:hover{
    background: #1DC4E7;
  
    border-radius: 4px;
  }

  .navbar_icons {
    list-style: none;
    color:white;
    display:flex;
    padding-left:0;
    font-size:24px;
  }

  .navbar_icons li {
    padding: 8px 12px;
  }

 

 

  .team-grid {
    margin-top : 29px;
    width:500px;
  }
  
  .band {
    width:90%;
    max-width:1240px;
    margin:20px auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap:10px;
  }
  
  .card {
    background: rgba(0,0,0,.7);
    text-decoration: none;
    color: #444;
    box-shadow:  0 2px 5px rgba(0,0,0,.1);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: 0.2s;
  }
  
  .card:hover {
    top:-2px;
  
    box-shadow:  0 4px 5px rgba(0,0,0,2);
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size:cover;
    background-position: center center;
  }
  
  article {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Jua', sans-serif;
  }
  
  article h1 {
  
    color:white;
  }
  
  article p {
    flex: 1;
    color:white;
  }
  
  @media screen and (min-width: 500px) {
  .wrapper {
   min-height: 55cm;
  }
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .item-1 {
    grid-column: 1/3;
  }
  
  
  }
  
  @media screen and (min-width:850px) {

    .band {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 768px) {

    .navbar {
      flex-direction: column;
      align-items: flex-start;
     padding: 8px 24px;
    }
    
    .navbar_logo {
      margin:0;
    
    }
    
    .navbar_menu {
    
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    
    .navbar_menu li {
      width:100%;
      text-align: center;
    }
    
    
    .navbar_icons {
      justify-content: center;
      width:100%;
      font-size: 24px;
    }
  }

  @media screen and (max-width:499px) {
    .wrapper{
      min-height: 70cm;
    }
  }
  